:root {
  --main-color: #2e2f42;
  --text-color: #434455;
  --accent-color: #f4f4fd;
  --main-bg-color: #ffffff;
  --main-hero-color: #ffffff;
  --logo-color: #4d5ae5;
}

body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

.link {
  color: var(--main-color);
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
  cursor: pointer;
}

/* Header */
.logo {
  color: var(--logo-color);
}

.header-logo {
  color: var(--main-color);
}

.contacts {
  font-style: normal;
}

.mail,
.tel {
  color: var(--text-color);
}

/* Main */
.hero {
  background-color: var(--main-color);
}

.hero-title {
  color: var(--main-hero-color);
}

.hero-btn {
  background-color: var(--logo-color);
  color: var(--main-hero-color);
}

.section-title,
.section-subtitle {
  color: var(--main-color);
}

.cards {
  background-color: var(--accent-color);
}

.cards-list-item {
  background-color: var(--main-bg-color);
}
/* Main Portfolio*/
.btn-filter {
  background-color: var(--accent-color);
  color: var(--logo-color);
}

.btn-filter:is(:hover, :focus) {
  background-color: #404bbf;
  color: var(--main-hero-color);
}

/* Footer */
.footer {
  background: var(--main-color);
  color: var(--accent-color);
}
.footer-logo {
  color: var(--accent-color);
}
